.informational-container {
    background-color: var(--light-grayish-blue);
}

.informational__title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.informational__title-section {
    padding-bottom: 2rem;
}

@media only screen and (min-width: 900px) {
    .informational__title-section {
        text-align: left;
        width: 50%;
    }

    .informational__keynotes-section {
        display: flex;
        gap: 1rem;
    }
}
